.boxconnect {
  padding: 37px 12px 2px 13px;
  height: 400px;
  margin-bottom: 20px;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  justify-items: center;

  &__slogan {
    color: $color-orange;
    font-family: $font-text;
  }
  &__title {
    color: $color-black;
    font-family: $font-title;
    padding-top: 8px;
    font-size: 24px;
    line-height: 30px;
  }
  &__text {
    color: $color-grey;
    font-family: $font-text;
    font-size: 18px;
    padding-bottom: 8px;
    line-height: 30px;
  }
  &__button {
    color: $color-orange;
    background-color: $color-white;
    border-radius: 40px;
    border: 2.5px solid $color-orange;
    font-size: 1.5rem;
    // font-weight:;
    font-family: $font-text;
    text-align: center;
    margin-top: 51px;
    // padding: 10px;
    width: 170px;
    height: 45px;
  }
}
