.footer {
  background-color: $color-grey;
  font-family: $font-text;
    height: 465px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  

  &__arrow {
    background-color: $color-white;
    padding: 12px 15px;
    border-radius: 50%;
    transform: translateY(-24px);
  }

  &__nav--list {
    list-style: none;
    text-transform: uppercase;
    line-height:30px;
    text-align: center;
    font-size: 16px;
  }

  a {
    text-decoration: none;
    color: $color-white;
    font-family: $font-text;
  }
  &__heart{
    color: $color-white;
   &--red{
      color:$color-orange;
    }
  }
}
