.header {
  height: 100vh;
  background-image: url('/src/images/cover.jpeg');
  background-color:antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
