.header {
  font-family: $font-title;
  color: $color-white;
  height: 100vh;
  background-image: url(/images/cover.jpeg);
  background-position: 35%;
  background-size: 200vh;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;

  
  &__hamburger {
    width: 37px;
    height: 35px;
    background-color: $color-orange;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
  }
  &__title {
    text-transform: uppercase;
    line-height: 2;
    // font-size: 3rem ;
    white-space: 12;
    padding: 10px;
  }
  &__titletwo {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    white-space: 34;
  }

  &__scrolldown {
    background-color: $color-white;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 12px 10px;
    border-radius: 50%;
   
   
  }
}
