.boxnewyear {
  background-color: $color-whitetwo;
  height: 640px;
  margin: 40px 0 0;
  padding: 29px 15px 39px;
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: auto auto auto auto auto;
  justify-content: center;
  text-align: center;
  @media (min-width: 768px) {
  
  }

  &__title {
    font-family: $font-title;
    color: $color-black;
    font-size: 20px;
    line-height: 30px;
    font-weight: bolder;
    margin-bottom: 10px;
    @media (min-width: 768px) {
      font-size:24px ;
    }

  }
  &__article {
    margin: 10px;
  
    h4 {
      font-family: $font-title;
      color: $color-black;
      size: 18px;
      line-height: 15px;
      font-weight: bolder;
      padding: 10px;
      text-align: center;
      @media (min-width: 768px) {
        font-size:22px;
        line-height: 30px;
      }
    }

    p {
      font-family: $font-text;
      color: $color-black;
      font-size: 18px;
      line-height: 30px;
      @media (min-width: 768px) {
        font-size:20px ;
      }
    }
  }

  &__button {
    background-color: $color-orange;
    color: $color-white;
    border-radius: 40px;
    font-family: $font-text;
    line-height: 45px;
    text-align: center;
    margin-top: 51px;
    width: 184px;
    height: 45px;
    border: none;
    font-size: 1.2rem;
    margin: 25px 0 10px 0px;
  }
}
