.boxnewyear {
  background-color: $color-whitetwo;
  height: 624px;
  margin: 40px 0 0 0;
  padding: 29px 15px 39px;
  display: grid;
  grid-template-columns: fr fr;
  grid-template-rows: repeat(10);
  grid: center;
  text-align: center;

  &__title {
    font-family: $font-title;
    color: $color-black;
    font-size: 20px;
    line-height: 30px;
  }
  &__article {
    h4 {
      font-family: $font-title;
      color: $color-black;
      size: 18px;
      line-height: 30px;
    }

    p {
      font-family: $font-text;
      color: $color-black;
      font-size: 18px;
      line-height: 30px;
      padding: 1px;
    }
  }

  &__button {
    background-color: $color-orange;
    color: $color-white;
    border-radius: 40px; 
    font-family: $font-text;
    line-height: 45px;
    text-align: center;
    margin-top: 51px;
    padding:10px 20px;
    width: 184px;
    height: 45px;
    border: none;
    font-size:1rem;
    margin: 25px 0 48px 0;
  }
}
