<footer class="footer">
  <img src="../images/ico-arrow.svg" alt="flecha para scroll" />
  <nav class="footer__nav">
    <ul class="footer__nav--list">
      <li><a href="https://adalab.es">Zapatillas</a></li>
      <li><a href="https://adalab.es">Ropa</a></li>
      <li><a href="https://adalab.es">Niño/a</a></li>
      <li><a href="https://adalab.es">Destacados</a></li>
      <li><a href="https://adalab.es">Tips</a></li>
    </ul>
  </nav>
  <nav class="footer__nav">
    <ul class="footer__nav--list">
      <li><a href="https://adalab.es">Twitter</a></li>
      <li><a href="https://adalab.es">Instagram</a></li>
      <li><a href="https://adalab.es">Youtube</a></li>
    </ul>
  </nav>

  <div>
    <p>&copy;2023</p>
    <p>we <span>&hearts;</span> run</p>
  </div>
</footer>
