<header class="header">
  <figureclass="header__hamburger">
    <img
      src="../images/ico-menu.svg"
      alt="icono menu"

    />
  </figure>

  <!-- <img src="../images/ico-menu.svg" alt="icono menu" class="header__hamburger" /> -->
  <h1 class="header__title">Hasta un 50% de descuento</h1>
  <h2 class="header__titletwo">
    Ya estan aqui las ofertas de fin de temporada
  </h2>
  <img
    src="../images/ico-scroll-down.svg"
    alt="scroll de flecha"
    class="header__scrolldown" class="header__scrolldown"
  />
</header>
