<header class="header" id="headerinicio">
  <figure class="header__hamburger">
    <a href="https://adalab.es">
    <img src="../images/ico-menu.svg" alt="icono menu" />
  </a>
  </figure>

  <h1 class="header__title">Hasta un 50% de descuento</h1>
  <h2 class="header__titletwo">
    Ya estan aqui las ofertas de fin de temporada
  </h2>
  <figure>
    <a href="#move">
      <img
        src="../images/ico-scroll-down.svg"
        alt="scroll de flecha"
        class="header__scrolldown"
        class="header__scrolldown"
      />
    </a>
  </figure>
</header>
